/* body > .container {
    box-sizing: border-box;
} */

.footer {
    position: sticky;
    bottom: 0px;
    height: 50px;
    background: rgb(137, 130, 148);
}

.footer > .container > p {
    color: white;
    padding: 10px 0px;
}